<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel = "stylesheet" href="/css/signup.css">
</head>
<body>

    <div>
        <div class="bg-container">
			<div class="form-container">
				<h1 class="form-heading">Sign In</h1>
				<p class="form-text">Enter your login credentials</p>
				<form action="create-user" class="form">
					<label for="email" class="form-label">Email</label> 
					<input type="text" name="email"
						placeholder="Enter your email id" class="form-input" required/> 
						<br> 
						<label for="password"
						class="form-label">Password</label> 
						<input type="text" name="password"
						placeholder="Enter your password" class="form-input" required /> 
			
					
					<div class="form-btn-container">
						
						<button type="submit" class="form-btn">submit</button>
					</div>

				</form>

			</div>



		</div>


    </div>


<div>

  

</div>

</body>
</html>